*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 2s all ease;
 }
 
 body{
 text-align: center;
 background: rgb(219,0,255);
 background: linear-gradient(0deg, rgba(219,0,255,1) 0%, rgba(6,0,8,1) 100%);
    color: white;
 
 }
 
 #resultados{
    margin:auto;
    width: 150px;
    height: 60px;
    border: 1px dashed purple;
    box-shadow: 0 0 20px magenta;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px 
   
 }
 #imc1{
    margin:auto;
    width: 150px;
    height: 60px;
    border: 1px dashed purple;
    box-shadow: 0 0 20px magenta;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px 
 }
 #altura{
    background: purple;
    width: 300px;
    margin: auto;
 }
 #peso{
background: purple;
    width: 300px;
    margin: auto;
 }



