*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 2s all ease;
 }
 body{
    color:white;
    margin: 0px;
    padding: 0px;
    background: purple;
    background-size: cover;
    background-position: center;
       font-family: Georgia ;
 }

#signo{
    width: 300px;
    height: 300px;
    margin: auto; 
    box-shadow: 0 0 0px white;
    border-radius: 0%;

}



#dia{
    background: rgb(88, 10, 233);
    width: 300px;
    margin: auto;
}

#vdia{
    margin:auto;
    width: 150px;
    height: 60px;
    border: 10px double white;

    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px 
    
}

h1{
    font-size: 50px;
}

#mes{
    background: rgb(88, 10, 233);
    width: 300px;
    margin: auto;
    color: pink;
    margin-bottom: 20px;
}

#fecha{
    margin:auto;
    width: 250px;
    height: 60px;
    border: 10px double white;
    font-size: 15px;
    margin-bottom: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px
}

